
footer{
    padding: 30px 20%;
    background-color:map-get($colors, primary);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    margin-top: 50px;
    .foot{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .titulos{
        color:map-get($colors, main);
        font: {
            weight: 500;
            size: 20px;
        }
        text-decoration: none;
    }
    .letras{
        color: map-get($colors, secondary);
    }
}