
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 20%;
    flex-wrap: nowrap;
    background-color: map-get($colors, secondary);
    height: 80px;
    border-bottom: 1px solid map-get($colors, primary);
    #logo{
        height: 50px;
    }
    .links{
        list-style: none;
        li{
            display: inline-block;
            padding: 0px 40px;
            justify-content: center;
            flex-wrap: nowrap;
            color: map-get($colors, primary);
        }
    }
    .iconos{
        #perfil{
            height: 40px;
            padding: 0 0 10px 0;
        }
        #carrito{
            height: 45px;
            padding: 0 0 5px 0;
        }
    }
}