/*Accesorios*/
    .accesorios{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 60px;
        min-height: 35vh;
    }
/*Final Accesorios*/
