/*Indumentaria*/
    .indumentaria{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 60px;
        min-height: 35vh;
    }
    .ind-anim{
        width: 230px;
        transition: {
            property: width;
            delay: 1s;
            duration: .5s;
            timing-function: ease-in;
        }
    &:hover{
        width: 280px;}
    }
/*Final Indumentaria*/