
.posicion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    max-width: 1300px;
    margin-left: 25%;
    margin-top: 5%;
    .indumentaria{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 60px;
    }
    .ind-anim{
        width: 230px;
        transition: {
            property: width;
            delay: 1s;
            duration: .5s;
            timing-function: ease-in;
        }
    &:hover{
        width: 280px;}
    }
}
@media (max-width: 600px){
    .posicion{
        padding: 0 5%;
        margin: 0 16px;
    }
}