@mixin flex($direction, $justify, $margin) {
    display: flex;
    flex-direction: $direction;
    justify-content:$justify;
    margin: $margin;
}
@mixin mv( $medida : 480px ){
    @media screen and (max-width: $medida){
        @content;
    }
}